h1 {
  color: pink;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}

button, a {
  padding: 10px;
  text-align: center;
}
